* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    height: 100vh;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

/* Navbar starts here */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    height: 10vh;
}

.logo {
    height: 5vh;
}

.logo img {
    height: 100%;
    width: 100%;
}

.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
}

.link-list a {
    text-decoration: none;
    color: black;
}

.btn button {
    height: 5vh;
    padding: 3px 30px;
    background-color: #1D4ED8;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
}

/* Navbar ends here */

/* Banner Section starts here */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/banner.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.main-text {
    width: 50%;
    text-align: center;
    margin-top: 2rem;
}

.main-text h1 {
    font-size: 3.5rem;
}

/* Banner Section starts here */

/* Meet the Speakers section starts here */
.speakers {
    background: #f8f9fc;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.container div {
    display: flex;
    width: 30vw;
    flex-direction: column;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.container div img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container div small {
    color: #1D4ED8;
    margin-left: 1rem;
}

.container div p {
    margin-left: 1rem;
}

.container div .name {
    font-weight: 600;
}

/* Meet the Speakers section ends here */



/* Pricing section starts here */
.pricing {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.left-box,
.right-box {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;
    padding: 3rem 1.5rem;
    margin-top: 50px;
    border-radius: 10px;
}

.box hr {
    margin: 15px 0px 15px 0px;
}

.box ul li {
    margin: 5px;
}

.box button {
    margin-top: 2rem;
    padding: 5px;
    width: 100%;
    border: 1px solid #1D4ED8;
    color: #1D4ED8;
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
}

.right-box button a {
    text-decoration: none;
    color: #1D4ED8;
    font-weight: 700;
}

.black-box {
    background-color: rgb(28, 32, 52);
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    height: fit-content;
    padding: 3rem 1.5rem;
    margin-top: 50px;
    border-radius: 10px;
}

.black-box button {
    margin-top: 2rem;
    padding: 5px;
    width: 100%;
    border: none;
    color: white;
    background-color: #1D4ED8;
    border-radius: 5px;
}

/* Pricing section ends here */

/* FAQ section starts here */
.faq-section {
    margin-top: 2rem;
    padding: 2rem;
    background: #f8f9fc;
}

.faq-container {
    width: 100%;
    margin: auto;
}

.faq-section h2 {
    font-size: 2.5rem;
    text-align: center;
    color: #222;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 50px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faq-item {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
    overflow: hidden;
    transition: .3s;
}

.faq-item:hover {
    transform: translateY(-3px);
}

.faq-item summary {
    list-style: none;
    cursor: pointer;
    padding: 22px 28px;
    font-size: 18px;
    font-weight: 600;
    color: #222;
    position: relative;
}

.faq-item summary::-webkit-details-marker {
    display: none;
}

.faq-item summary::after {
    content: "+";
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 26px;
    font-weight: bold;
    transition: .3s;
}

.faq-item[open] summary::after {
    content: "−";
}

.faq-item p {
    padding: 0 28px 22px;
    color: #666;
    line-height: 1.8;
    font-size: 16px;
}


/* FAQ section ends here */

/* Footer section starts here */
footer {
    height: 17vh;
    background-color: rgb(49, 49, 49);
    text-align: center;
}

footer hr {
    margin: 0.5rem 3rem;
    background-color: #f3eeee;
    border: none;
    height: 1px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.footer-container .icons i {
    color: #82a0f0;
    font-size: 2rem;
}


/* Footer section ends here */

@media(max-width: 1000px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }

    .container div {

        width: 50vw;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    .pricing-container {
        flex-direction: column;
    }

    .faq-section {
        padding: 60px 20px;
    }

    .faq-section h2 {
        font-size: 2rem;
    }

    .faq-item summary {
        font-size: 17px;
        padding: 20px;
    }

    .faq-item p {
        padding: 0 20px 20px;
    }

}